<center>
  <h1>MY JOURNEY TO WORLD CITIZENSHIP<h1>
    <h2><%= "#{@user.name} is currently a citizen in progress!" %><h2>
</center>
 <div id="passport">
   <h3>My Passport<h3>
     <h4>Local Stamps:<h4>
       <h5>Local Citizenship 0/25<h5>
     <h4>District Stamps:<h4>
       <h5>District Citizenship 0/20<h5>
     <h4>Regional Stamps:<h4>
       <h5>Regional Citizenship 0/15<h5>
     <h4>National Stamps:<h4>
       <h5>National Citizenship 0/20<h5>
     <h4>International Stamps:<h4>
       <h5>International Citizenship 0/25<h5>
 </div>
