<div class="background-image">
  <div class="main-text">
    <h1 class="new-header">Save New Business</h1>
      <div class="item-form">
        <%= render partial: 'form' %>
      </div>
  </div>
</div>
