<nav class="border fixed split-nav background-success">
  <div class="nav-brand">
    <p class="text-success">World Citizen</p>
  </div>
  <div class="collapsible">
    <div class="collapsible-body">
        <li><p class="text-success">Stamps</p></li>
        <li><p class="text-success">Register!</p></li>
        <li><p class="text-success">Log In</p></li>
    </div>
  </div>
</nav>
