<nav class="border fixed split-nav background-success">
  <div class="nav-brand">
    <p class="text-success">World Citizen</p>
  </div>
  <div class="collapsible">
    <div class="collapsible-body">
      <ul class="inline">
        <p class="text-success">Stamps</p>
        <p class="text-success">Register!</p>
        <p class="text-success">Log In</p>
      </ul>
    </div>
  </div>
</nav>
