.background-image{
  background:
    url(asset-path('greyzz.png'));
  background-repeat: repeat;
  // height: 150vh;
}

.main-text{
  color: #28282d;
  padding: 1rem;
  font-size: .9rem;
}

.spacing{
  padding: 1rem;
}

.state-selector{
  padding: .3rem;
  width: 4rem;
  box-shadow: 2px 2px black;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
  font-weight: 800;
}


.main-text h3{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.503);
  padding-bottom: 1rem;
}

.camp-title{
  font-weight: 600;
  font-size: 1.2rem;
}

.completed{
  padding-bottom: 1.5rem;
}
