table {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: auto
}

h1{
  text-align: left;
  padding: .5rem;
}

h2{
  text-align: left;
  font-weight: bold;
}

h4{
  text-align: left;
  padding-left: 1rem;
}


table thead tr th {
  vertical-align: bottom;
  text-align: left;
  padding: 8px;
  line-height: 1.5
}
table tbody tr td {
  padding: 8px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px dashed #d9d9d8
}
@media only screen and (max-width:480px) {
  table thead tr th {
    padding: 2%
  }
  table tbody tr td {
    padding: 2%
  }
}
table.table-hover tbody tr:hover {
  color: #128c8d
}

table.table-alternating tbody tr:nth-of-type(even) {
  color: #76748b
}

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  }

.columns div h6 {
  text-align: center;
  padding-left: none;
}

h6{
  font-size: 1.2rem;
}

.so-international {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 10rem;
}

.so-international-text{
  text-align: center;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

.stamp-image{
  border-radius: 50%;
  height: 12rem;
  width: auto;
}

.international-stamp-image{
  border-radius: 50%;
  height: 20rem;
  width: auto;
  padding-bottom: 1.5rem;
}

.passport-left-column{
  padding-top: 3rem;
  padding-left: 3rem;
}

.passport-centered-text{
  color: #28282d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  padding-top: 1rem;
}

.passport-image{
  padding-top: 1rem;
  height: 100%;
  width: 50%;
  color: #28282d;
}

.passport-right-column{
  padding-right: 5rem;
}

.stamp-section{
  align-items: left;
}

.stamp-count{
  align-items: right;
}

.passport-header h6{
  color: #28282d;
  padding-top: .5rem;
  font-size: 1.2rem;
  text-align: center;
}

.passport-header h6:nth-child(1){
  font-size: 3rem;
  padding: 2rem 0;
}
